body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.btn {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #0077ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover {
    opacity: .9;
}

.category {
    padding: 10px;
    background: #eee;
    margin: 8px 0;
    border-radius: 6px;
    cursor: pointer;
}