body {
    font-family: Arial;
    padding: 20px;
    background: #f4f4f4;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #C62828;
}

.section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background: #C62828;
    color: white;
    font-weight: bold;
    border-radius: 6px;
}

.hidden {
    display: none;
}

input {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 10px auto;
    border-radius: 6px;
    border: 1px solid #ccc;
}